<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
      <button ng-if="!automatic" type="button" class="btn btn-default btn-lg" ng-click="changeAutomatic()">Activar actualización automática</button>
      <button ng-if="automatic" type="button" class="btn btn-default btn-lg" ng-click="changeAutomatic()">Desactivar actualización automática</button>
      <br>
      <br>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <!-- /.panel -->
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-sun-o fa-fw"></i> Humedad
        </div>
        <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Nivel de Humedad</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in humedad">
              <th scope="row">{{$index}}</th>
              <td style="text-align:center">{{item.created_at | date:'dd-MMM'}}</td>
              <td style="text-align:center">{{item.created_at | date:'HH:mm:ss'}}</td>
              <td style="text-align:center">{{item.level}}</td>

              <td>
                <i ng-if="item.level > 300 && item.level <= 700" class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:green"></i> <label ng-if="item.level > 300 && item.level <= 700">Estable</label>
                <i ng-if="item.level < 300" class="fa fa-times-circle fa-fw" aria-hidden="true" style="color:#BDB76B"></i> <label ng-show="item.level < 300">Seco</label>
                <i ng-if="item.level > 700" class="fa fa-tint fa-fw" aria-hidden="true" style="color:blue"></i> <label ng-if="item.level > 700">En Agua</label>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-tint fa-fw"></i> Regado
        </div>
        <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th st-sort="created_at">Fecha</th>
              <th st-sort="created_at">Hora</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in regado">
              <th>{{$index}}</th>
              <td>{{item.created_at | date:'dd-MMM'}}</td>
              <td>{{item.created_at | date:'HH:mm:ss'}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>
      </div>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
